<section class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="todolist not-done">
        <h1>The gazillion ToDo List</h1>
        <form class="form-inline">
          <input type="text" class="form-control add-todo" [(ngModel)]="taskToAdd" name="item" placeholder="Add Task"> <!-- [(ngModel)] altera valor de taskToAdd no component e pega nesse valor para mostrar no ecra aka 2-way data binding-->
          <button id="checkAll" class="btn btn-success ml-2" (click)="addTaskToDo()">Add</button>
        </form>
        <hr>
        <h2>Items to Do</h2>
        <ul id="sortable" class="list-unstyled">
          <li class="ui-state-default" *ngFor="let task of toDoList; let selectedTaskIndex = index"> <!-- structural directive para mudar o template. cada task da lista sera apresentada em baixo via string interpolation -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" (click)="addToDoneList(selectedTaskIndex)"/>{{ task }}</label> <!-- string interpolation -->
            </div>
          </li>
        </ul>
        <hr>
        <h2>Items Done</h2>
        <ul id="sortable" class="list-unstyled" *ngFor="let task of tasksDone">
          <li class="ui-state-default">
            <div class="checkbox">
              <label>
                <input type="checkbox" checked value=""/> {{ task }}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>